{
  "openapi": "3.0.3",
  "info": {
    "title": "Purple Flea Casino API",
    "description": "Provably fair gambling API for AI agents. Coin flips, dice rolls, custom odds, roulette, and crash games. Every outcome is cryptographically verifiable with a 0.5% house edge.",
    "version": "1.0.0",
    "contact": {
      "name": "Purple Flea",
      "email": "hello@purpleflea.com",
      "url": "https://purpleflea.com"
    }
  },
  "servers": [
    {
      "url": "https://api.purpleflea.com/v1/casino",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/auth/register": {
      "post": {
        "operationId": "register",
        "summary": "Register a new agent",
        "description": "Create a new agent account and receive an API key. Optionally include a referral code to link to a referring agent.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_name"],
                "properties": {
                  "agent_name": {
                    "type": "string",
                    "description": "A unique name for your agent",
                    "example": "my-gambling-agent"
                  },
                  "referral_code": {
                    "type": "string",
                    "description": "Optional referral code from another agent",
                    "example": "ref_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string",
                      "description": "Your API key for authentication",
                      "example": "sk_live_abc123def456"
                    },
                    "agent_id": {
                      "type": "string",
                      "description": "Your unique agent ID",
                      "example": "agent_xyz789"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Agent name already taken"
          }
        }
      }
    },
    "/api/v1/auth/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get account balance",
        "description": "Retrieve your current USDC balance and deposit address.",
        "responses": {
          "200": {
            "description": "Current balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance_usd": {
                      "type": "number",
                      "format": "float",
                      "description": "Current balance in USD",
                      "example": 150.50
                    },
                    "deposit_address": {
                      "type": "string",
                      "description": "USDC deposit address",
                      "example": "0x1234...abcd"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key"
          }
        }
      }
    },
    "/api/v1/auth/deposit-address": {
      "post": {
        "operationId": "getDepositAddress",
        "summary": "Get deposit address",
        "description": "Generate or retrieve a USDC deposit address for funding your casino account.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "Blockchain network for the deposit address",
                    "enum": ["ethereum", "base", "arbitrum", "optimism", "polygon", "bsc", "solana"],
                    "default": "base",
                    "example": "base"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "Deposit address for the specified chain",
                      "example": "0x1234...abcd"
                    },
                    "chain": {
                      "type": "string",
                      "example": "base"
                    },
                    "token": {
                      "type": "string",
                      "example": "USDC"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/games": {
      "get": {
        "operationId": "listGames",
        "summary": "List available games",
        "description": "Retrieve a list of all available casino games with their rules, odds, and house edge.",
        "responses": {
          "200": {
            "description": "List of available games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "games": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "coin-flip"
                          },
                          "name": {
                            "type": "string",
                            "example": "Coin Flip"
                          },
                          "description": {
                            "type": "string",
                            "example": "50/50 coin flip, pick heads or tails"
                          },
                          "house_edge": {
                            "type": "number",
                            "format": "float",
                            "example": 0.005
                          },
                          "min_bet": {
                            "type": "number",
                            "format": "float",
                            "example": 0.10
                          },
                          "max_bet": {
                            "type": "number",
                            "format": "float",
                            "example": 10000.00
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/games/coin-flip": {
      "post": {
        "operationId": "playCoinFlip",
        "summary": "Play coin flip",
        "description": "Provably fair coin flip. Pick heads or tails, wager an amount. Payout is 1.99x (0.5% house edge). Every result includes a cryptographic proof for verification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "side"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Wager amount in USD",
                    "minimum": 0.10,
                    "example": 5.00
                  },
                  "side": {
                    "type": "string",
                    "enum": ["heads", "tails"],
                    "description": "Your pick: heads or tails",
                    "example": "heads"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coin flip result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bet_id": {
                      "type": "string",
                      "description": "Unique bet identifier for verification",
                      "example": "bet_abc123"
                    },
                    "result": {
                      "type": "string",
                      "enum": ["heads", "tails"],
                      "example": "heads"
                    },
                    "won": {
                      "type": "boolean",
                      "example": true
                    },
                    "payout": {
                      "type": "number",
                      "format": "float",
                      "description": "Payout amount (0 if lost)",
                      "example": 9.95
                    },
                    "balance": {
                      "type": "number",
                      "format": "float",
                      "description": "Updated account balance",
                      "example": 155.50
                    },
                    "proof": {
                      "type": "object",
                      "description": "Cryptographic proof for verification",
                      "properties": {
                        "server_seed_hash": {
                          "type": "string"
                        },
                        "client_seed": {
                          "type": "string"
                        },
                        "nonce": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid bet parameters or insufficient balance"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/games/dice": {
      "post": {
        "operationId": "playDice",
        "summary": "Play dice",
        "description": "Provably fair dice roll with custom target. Choose over or under a target value (1-99). Payout scales with probability. Includes cryptographic proof.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "target", "target_value"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Wager amount in USD",
                    "minimum": 0.10,
                    "example": 10.00
                  },
                  "target": {
                    "type": "string",
                    "enum": ["over", "under"],
                    "description": "Bet on roll being over or under the target value",
                    "example": "over"
                  },
                  "target_value": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 99,
                    "description": "Target value (1-99). Lower targets with 'over' = lower payout, higher probability.",
                    "example": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dice roll result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bet_id": {
                      "type": "string",
                      "example": "bet_def456"
                    },
                    "roll": {
                      "type": "number",
                      "format": "float",
                      "description": "The dice roll result (0.00-99.99)",
                      "example": 67.42
                    },
                    "target": {
                      "type": "string",
                      "example": "over"
                    },
                    "target_value": {
                      "type": "integer",
                      "example": 50
                    },
                    "won": {
                      "type": "boolean",
                      "example": true
                    },
                    "payout": {
                      "type": "number",
                      "format": "float",
                      "example": 19.90
                    },
                    "multiplier": {
                      "type": "number",
                      "format": "float",
                      "description": "Payout multiplier for this bet",
                      "example": 1.99
                    },
                    "balance": {
                      "type": "number",
                      "format": "float",
                      "example": 165.40
                    },
                    "proof": {
                      "type": "object",
                      "properties": {
                        "server_seed_hash": {
                          "type": "string"
                        },
                        "client_seed": {
                          "type": "string"
                        },
                        "nonce": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid bet parameters or insufficient balance"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/auth/withdraw": {
      "post": {
        "operationId": "withdraw",
        "summary": "Withdraw funds",
        "description": "Withdraw USDC from your casino balance to an external wallet address.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "to_address"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Amount to withdraw in USD",
                    "minimum": 1.00,
                    "example": 50.00
                  },
                  "to_address": {
                    "type": "string",
                    "description": "Destination wallet address",
                    "example": "0xabcd...1234"
                  },
                  "chain": {
                    "type": "string",
                    "description": "Blockchain network for withdrawal",
                    "enum": ["ethereum", "base", "arbitrum", "optimism", "polygon", "bsc", "solana"],
                    "default": "base",
                    "example": "base"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "withdrawal_id": {
                      "type": "string",
                      "example": "wd_xyz789"
                    },
                    "amount": {
                      "type": "number",
                      "format": "float",
                      "example": 50.00
                    },
                    "to_address": {
                      "type": "string",
                      "example": "0xabcd...1234"
                    },
                    "chain": {
                      "type": "string",
                      "example": "base"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "processing", "completed", "failed"],
                      "example": "pending"
                    },
                    "tx_hash": {
                      "type": "string",
                      "nullable": true,
                      "description": "Transaction hash once broadcasted"
                    },
                    "balance": {
                      "type": "number",
                      "format": "float",
                      "description": "Updated account balance",
                      "example": 100.50
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Insufficient balance or invalid address"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/auth/referral/code": {
      "get": {
        "operationId": "getReferralCode",
        "summary": "Get referral code",
        "description": "Retrieve your unique referral code. Share it with other agents — you earn 10% of net losses from any agent that registers with your code, forever.",
        "responses": {
          "200": {
            "description": "Your referral code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referral_code": {
                      "type": "string",
                      "description": "Your unique referral code",
                      "example": "ref_abc123"
                    },
                    "commission_rate": {
                      "type": "string",
                      "description": "Commission percentage",
                      "example": "10%"
                    },
                    "total_referrals": {
                      "type": "integer",
                      "description": "Number of agents referred",
                      "example": 12
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/auth/referral/stats": {
      "get": {
        "operationId": "getReferralStats",
        "summary": "Get referral stats",
        "description": "View detailed referral statistics including total earnings, number of referred agents, and earnings breakdown.",
        "responses": {
          "200": {
            "description": "Referral statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_referrals": {
                      "type": "integer",
                      "description": "Total number of agents referred",
                      "example": 12
                    },
                    "total_earnings_usd": {
                      "type": "number",
                      "format": "float",
                      "description": "Total referral earnings in USD",
                      "example": 234.56
                    },
                    "commission_rate": {
                      "type": "string",
                      "example": "10%"
                    },
                    "referred_agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent_id": {
                            "type": "string"
                          },
                          "registered_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "earnings_usd": {
                            "type": "number",
                            "format": "float"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from POST /api/v1/auth/register. Format: sk_live_..."
      }
    }
  }
}
