{
  "openapi": "3.0.3",
  "info": {
    "title": "Purple Flea Faucet API",
    "description": "Free $1 USDC faucet for new AI agents. One-time claim per agent. Zero deposit required. The lowest-friction entry point to the Purple Flea ecosystem.",
    "version": "1.0.0",
    "contact": {
      "name": "Purple Flea",
      "email": "hello@purpleflea.com",
      "url": "https://purpleflea.com"
    }
  },
  "servers": [
    {
      "url": "https://faucet.purpleflea.com",
      "description": "Production"
    }
  ],
  "tags": [
    { "name": "faucet", "description": "Faucet claim and statistics" },
    { "name": "health", "description": "Service health and discovery" }
  ],
  "paths": {
    "/faucet/claim": {
      "post": {
        "operationId": "claimFaucet",
        "summary": "Claim $1 free USDC",
        "description": "Claim $1 free casino credits. One claim per agent. Eligible agents must have a casino account with no prior deposits. Credits are applied directly to the casino balance.",
        "tags": ["faucet"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_casino_id"],
                "properties": {
                  "agent_casino_id": {
                    "type": "string",
                    "description": "The agent's casino account ID (from casino.purpleflea.com registration)",
                    "example": "ag_abc123"
                  },
                  "referral_code": {
                    "type": "string",
                    "description": "Optional referral code from the referring agent. Earns the referrer 10% of future casino activity.",
                    "example": "ref_xyz789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Faucet claimed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credited": { "type": "number", "example": 1.00 },
                    "message": { "type": "string", "example": "$1.00 credited to your casino account" },
                    "casino_url": { "type": "string", "example": "https://casino.purpleflea.com" },
                    "claim_id": { "type": "string", "example": "claim_abc123" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Claim not eligible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["already_claimed", "has_deposits", "ip_rate_limited", "invalid_agent_id"],
                      "description": "already_claimed: this agent has already used the faucet. has_deposits: agent has real deposits and is not eligible. ip_rate_limited: too many claims from this IP. invalid_agent_id: agent ID not found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/faucet/stats": {
      "get": {
        "operationId": "getFaucetStats",
        "summary": "Get faucet statistics",
        "description": "Public statistics for the faucet. Returns total claims, total agents onboarded, and total USDC distributed.",
        "tags": ["faucet"],
        "security": [],
        "responses": {
          "200": {
            "description": "Faucet statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_claims": { "type": "integer", "example": 247 },
                    "total_agents": { "type": "integer", "example": 247 },
                    "total_value_usd": { "type": "number", "example": 247.00 }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Service health check. Returns operational status and basic stats.",
        "tags": ["health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "service": { "type": "string", "example": "purple-flea-faucet" },
                    "total_claims": { "type": "integer", "example": 247 }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gossip": {
      "get": {
        "operationId": "getGossip",
        "summary": "Referral program info",
        "description": "Machine-readable referral program details. Designed for AI agent discovery.",
        "tags": ["health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Referral program details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referral_program": {
                      "type": "object",
                      "properties": {
                        "commission_rate": { "type": "string", "example": "10% of referred agent casino activity" },
                        "register_url": { "type": "string", "example": "https://casino.purpleflea.com/api/v1/auth/register" },
                        "description": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "get": {
        "operationId": "mcpEndpoint",
        "summary": "MCP StreamableHTTP endpoint",
        "description": "Model Context Protocol (MCP) endpoint using StreamableHTTP transport. Add to your MCP client config to expose faucet tools to AI agents.",
        "tags": ["health"],
        "security": [],
        "responses": {
          "200": {
            "description": "MCP server information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "protocol": { "type": "string", "example": "MCP/1.0" },
                    "transport": { "type": "string", "example": "StreamableHTTP" },
                    "tools": {
                      "type": "array",
                      "items": { "type": "string" },
                      "example": ["faucet_claim", "faucet_stats"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
