{
  "openapi": "3.0.3",
  "info": {
    "title": "Purple Flea Trading API",
    "description": "Direct access to 275+ perpetual futures markets via Hyperliquid — the most liquid decentralized exchange, rivalling Binance in depth. Open long/short positions with up to 50x leverage, set stop losses and take profits, and execute algorithmic strategies.",
    "version": "1.0.0",
    "contact": {
      "name": "Purple Flea",
      "email": "hello@purpleflea.com",
      "url": "https://purpleflea.com"
    }
  },
  "servers": [
    {
      "url": "https://api.purpleflea.com/v1/trading",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/auth/register": {
      "post": {
        "operationId": "register",
        "summary": "Register a new trading agent",
        "description": "Create a new agent account for trading and receive an API key. Optionally include a referral code to link to a referring agent (who earns 20% of fee markup).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_name"],
                "properties": {
                  "agent_name": {
                    "type": "string",
                    "description": "A unique name for your trading agent",
                    "example": "my-trading-bot"
                  },
                  "referral_code": {
                    "type": "string",
                    "description": "Optional referral code from another agent",
                    "example": "ref_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string",
                      "description": "Your API key for authentication",
                      "example": "sk_live_abc123def456"
                    },
                    "agent_id": {
                      "type": "string",
                      "description": "Your unique agent ID",
                      "example": "agent_xyz789"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Agent name already taken"
          }
        }
      }
    },
    "/v1/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List all markets",
        "description": "Retrieve all 275+ available perpetual futures markets with current prices, 24h volume, open interest, and funding rates.",
        "responses": {
          "200": {
            "description": "List of available markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coin": {
                            "type": "string",
                            "description": "Market symbol",
                            "example": "BTC"
                          },
                          "price": {
                            "type": "number",
                            "format": "float",
                            "description": "Current mark price",
                            "example": 67500.00
                          },
                          "volume_24h": {
                            "type": "number",
                            "format": "float",
                            "description": "24-hour trading volume in USD",
                            "example": 1250000000.00
                          },
                          "open_interest": {
                            "type": "number",
                            "format": "float",
                            "description": "Total open interest in USD",
                            "example": 850000000.00
                          },
                          "funding_rate": {
                            "type": "number",
                            "format": "float",
                            "description": "Current hourly funding rate",
                            "example": 0.0001
                          },
                          "max_leverage": {
                            "type": "integer",
                            "description": "Maximum allowed leverage",
                            "example": 50
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets/{coin}": {
      "get": {
        "operationId": "getMarket",
        "summary": "Get market details",
        "description": "Retrieve detailed information for a specific perpetual futures market including order book depth, recent trades, and price history.",
        "parameters": [
          {
            "name": "coin",
            "in": "path",
            "required": true,
            "description": "Market symbol (e.g., BTC, ETH, SOL)",
            "schema": {
              "type": "string",
              "example": "BTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coin": {
                      "type": "string",
                      "example": "BTC"
                    },
                    "price": {
                      "type": "number",
                      "format": "float",
                      "example": 67500.00
                    },
                    "price_24h_ago": {
                      "type": "number",
                      "format": "float",
                      "example": 66800.00
                    },
                    "change_24h_pct": {
                      "type": "number",
                      "format": "float",
                      "example": 1.05
                    },
                    "volume_24h": {
                      "type": "number",
                      "format": "float",
                      "example": 1250000000.00
                    },
                    "open_interest": {
                      "type": "number",
                      "format": "float",
                      "example": 850000000.00
                    },
                    "funding_rate": {
                      "type": "number",
                      "format": "float",
                      "example": 0.0001
                    },
                    "max_leverage": {
                      "type": "integer",
                      "example": 50
                    },
                    "best_bid": {
                      "type": "number",
                      "format": "float",
                      "example": 67499.50
                    },
                    "best_ask": {
                      "type": "number",
                      "format": "float",
                      "example": 67500.50
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          }
        }
      }
    },
    "/v1/trade/open": {
      "post": {
        "operationId": "openPosition",
        "summary": "Open a position",
        "description": "Open a new long or short perpetual futures position with specified leverage. Supports optional stop loss and take profit levels.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["market", "side", "size", "leverage"],
                "properties": {
                  "market": {
                    "type": "string",
                    "description": "Market symbol",
                    "example": "BTC"
                  },
                  "side": {
                    "type": "string",
                    "enum": ["long", "short"],
                    "description": "Position direction",
                    "example": "long"
                  },
                  "size": {
                    "type": "number",
                    "format": "float",
                    "description": "Position size in USD",
                    "minimum": 1.00,
                    "example": 100.00
                  },
                  "leverage": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "description": "Leverage multiplier (1-50x)",
                    "example": 5
                  },
                  "stop_loss": {
                    "type": "number",
                    "format": "float",
                    "description": "Optional stop loss price",
                    "example": 65000.00
                  },
                  "take_profit": {
                    "type": "number",
                    "format": "float",
                    "description": "Optional take profit price",
                    "example": 72000.00
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position opened",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "position_id": {
                      "type": "string",
                      "description": "Unique position identifier",
                      "example": "pos_abc123"
                    },
                    "market": {
                      "type": "string",
                      "example": "BTC"
                    },
                    "side": {
                      "type": "string",
                      "example": "long"
                    },
                    "size": {
                      "type": "number",
                      "format": "float",
                      "example": 100.00
                    },
                    "leverage": {
                      "type": "integer",
                      "example": 5
                    },
                    "entry_price": {
                      "type": "number",
                      "format": "float",
                      "example": 67500.00
                    },
                    "liquidation_price": {
                      "type": "number",
                      "format": "float",
                      "description": "Price at which position will be liquidated",
                      "example": 54000.00
                    },
                    "margin_used": {
                      "type": "number",
                      "format": "float",
                      "description": "Margin locked for this position",
                      "example": 20.00
                    },
                    "stop_loss": {
                      "type": "number",
                      "format": "float",
                      "nullable": true,
                      "example": 65000.00
                    },
                    "take_profit": {
                      "type": "number",
                      "format": "float",
                      "nullable": true,
                      "example": 72000.00
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters, insufficient margin, or market unavailable"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/trade/close": {
      "post": {
        "operationId": "closePosition",
        "summary": "Close a position",
        "description": "Close an open position at market price. Returns the realized P&L.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["position_id"],
                "properties": {
                  "position_id": {
                    "type": "string",
                    "description": "Position ID to close",
                    "example": "pos_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position closed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "position_id": {
                      "type": "string",
                      "example": "pos_abc123"
                    },
                    "market": {
                      "type": "string",
                      "example": "BTC"
                    },
                    "side": {
                      "type": "string",
                      "example": "long"
                    },
                    "entry_price": {
                      "type": "number",
                      "format": "float",
                      "example": 67500.00
                    },
                    "exit_price": {
                      "type": "number",
                      "format": "float",
                      "example": 68200.00
                    },
                    "realized_pnl": {
                      "type": "number",
                      "format": "float",
                      "description": "Realized profit/loss in USD",
                      "example": 5.19
                    },
                    "balance": {
                      "type": "number",
                      "format": "float",
                      "description": "Updated account balance",
                      "example": 205.19
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Position not found or already closed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/trade/positions": {
      "get": {
        "operationId": "listPositions",
        "summary": "List open positions",
        "description": "Retrieve all currently open positions with unrealized P&L, liquidation prices, and current market data.",
        "responses": {
          "200": {
            "description": "Open positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "positions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position_id": {
                            "type": "string",
                            "example": "pos_abc123"
                          },
                          "market": {
                            "type": "string",
                            "example": "BTC"
                          },
                          "side": {
                            "type": "string",
                            "enum": ["long", "short"],
                            "example": "long"
                          },
                          "size": {
                            "type": "number",
                            "format": "float",
                            "example": 100.00
                          },
                          "leverage": {
                            "type": "integer",
                            "example": 5
                          },
                          "entry_price": {
                            "type": "number",
                            "format": "float",
                            "example": 67500.00
                          },
                          "mark_price": {
                            "type": "number",
                            "format": "float",
                            "example": 68200.00
                          },
                          "liquidation_price": {
                            "type": "number",
                            "format": "float",
                            "example": 54000.00
                          },
                          "unrealized_pnl": {
                            "type": "number",
                            "format": "float",
                            "description": "Current unrealized profit/loss in USD",
                            "example": 5.19
                          },
                          "unrealized_pnl_pct": {
                            "type": "number",
                            "format": "float",
                            "description": "Unrealized P&L as percentage of margin",
                            "example": 25.93
                          },
                          "opened_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total_unrealized_pnl": {
                      "type": "number",
                      "format": "float",
                      "description": "Sum of all unrealized P&L",
                      "example": 12.45
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/trade/history": {
      "get": {
        "operationId": "tradeHistory",
        "summary": "Get trade history",
        "description": "Retrieve historical closed trades with realized P&L, entry/exit prices, and execution details.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of trades to return (default 50, max 500)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 500,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trades": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position_id": {
                            "type": "string",
                            "example": "pos_abc123"
                          },
                          "market": {
                            "type": "string",
                            "example": "BTC"
                          },
                          "side": {
                            "type": "string",
                            "example": "long"
                          },
                          "size": {
                            "type": "number",
                            "format": "float",
                            "example": 100.00
                          },
                          "leverage": {
                            "type": "integer",
                            "example": 5
                          },
                          "entry_price": {
                            "type": "number",
                            "format": "float",
                            "example": 67500.00
                          },
                          "exit_price": {
                            "type": "number",
                            "format": "float",
                            "example": 68200.00
                          },
                          "realized_pnl": {
                            "type": "number",
                            "format": "float",
                            "example": 5.19
                          },
                          "opened_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "closed_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total_trades": {
                      "type": "integer",
                      "example": 142
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/referral/code": {
      "get": {
        "operationId": "getReferralCode",
        "summary": "Get referral code",
        "description": "Retrieve your unique referral code. Share it with other agents — you earn 20% of fee markup from any agent that registers with your code, forever.",
        "responses": {
          "200": {
            "description": "Your referral code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referral_code": {
                      "type": "string",
                      "description": "Your unique referral code",
                      "example": "ref_trade_abc123"
                    },
                    "commission_rate": {
                      "type": "string",
                      "description": "Commission percentage",
                      "example": "20%"
                    },
                    "total_referrals": {
                      "type": "integer",
                      "description": "Number of agents referred",
                      "example": 8
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/referral/stats": {
      "get": {
        "operationId": "getReferralStats",
        "summary": "Get referral stats",
        "description": "View detailed referral statistics including total earnings, number of referred agents, and earnings breakdown.",
        "responses": {
          "200": {
            "description": "Referral statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_referrals": {
                      "type": "integer",
                      "description": "Total number of agents referred",
                      "example": 8
                    },
                    "total_earnings_usd": {
                      "type": "number",
                      "format": "float",
                      "description": "Total referral earnings in USD",
                      "example": 456.78
                    },
                    "commission_rate": {
                      "type": "string",
                      "example": "20%"
                    },
                    "referred_agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent_id": {
                            "type": "string"
                          },
                          "registered_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "volume_usd": {
                            "type": "number",
                            "format": "float",
                            "description": "Total trading volume from this referral"
                          },
                          "earnings_usd": {
                            "type": "number",
                            "format": "float"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from POST /v1/auth/register. Format: sk_live_..."
      }
    }
  }
}
